#character-ratings {
  width: 90%;
  min-height: 33vh;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#character-ratings h4 {
  font-size: 20px;
}

table {
  border-radius: 5px;
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbjOHCw2pwjjUvQW4HsEctQyfzWcDmMAjr4ay6xj_zEZVpJQjm_JPdlkb3Lv64vVqRrQ0&usqp=CAU);
}

td,
th {
  border: 1px solid #aaaaaa;
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
}

tr.dark {
  background-color: #dddddde1;
}
tr.light {
  background-color: #ffffffe1;
}

th {
  background-color: black;
  color: white;
}
