header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  color: white;
}

header > nav {
  display: flex;
  list-style: none;
  width: 33%;
  justify-content: space-around;
}

header > nav > li {
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

header > nav > li:hover {
  background-color: tomato;
}

header > h1 {
  font-size: 30px;
}
